body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-image: url("background.jpg");
    background-size: cover;
    
}


.container {
    display: flex;
    gap: 30px;
}

.ingredients-pannel , .sandwich-pannel {
    display: flex;
    flex-direction: column;   /* vertical stack */
    justify-content: space-between;  /* push last element down */
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.Ingredients {
    display: flex;
    
    justify-content: space-between;
    margin: 8px 0;
}

button {
    cursor: pointer;
}

#make-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

#sandwich {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sandwich-pannel #sandwich {
    min-height: 200px;
    padding: 10px;
    background: #eee;
    border-radius: 10px;
}
/* INGREDIENT COLORS */
.item-tomato {
    height: 20px;
    background: #be3232;
    border: 1px solid #8a3f3f;
    border-radius: 4px;
    margin-bottom: 5px;
}

.item-cheese {
    height: 20px;
    background: #b5db6d;
    border: 1px solid #626e34;
    border-radius: 4px;
    margin-bottom: 5px;
}

.item-beef {
    height: 23px;
    background: #6d3a26;
    
    border-radius: 4px;
    margin-bottom: 5px;
}



.item-bread {
    height: 34px;
    background: #a18566;
    border: 1px solid #fdedd073;
    border-radius: 4px;
    margin-bottom: 5px;
}


h2 {
    margin-left: 50px;
    margin-bottom: 10px;
}